/* =============
    Footer
============= */
footer{
   background-color: var(--black);
   padding: 30px 15px;
   display: flex;
   
    .footer{
        flex-direction: row;
        margin-right: 200px;
    }
   ul{
    li{
       
    }
   }
   
}