/* =============
    Footer
============= */
footer{
   color: grey;

   #footer-head{
    background-color: var(--black);
    color: grey;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: auto 1140px auto;
    grid-template-areas: ". ftgi .";
    
    #footer-top-grid-item{
        color: white;
        grid-area: ftgi;
        display: grid;
        grid-template-columns: 40% 20% 20% auto;

        p{
            color: grey;
        }

        section{
            #social-links{
                margin-top: 20px;
                display: flex;
                li{
                    color: grey;
                    margin-right: 16px;

                    img{
                        height: 25px;
                        width: 25px;
                    }

                    a:link, a:visted{
                        color: var(--white);
                        border: 1px solid var(--blue);
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.20s;
                    }

                    a:hover, a:active{
                        color: grey;
                        background-color: var(--lightblue);
                        border: 1px solid var(--blue)
                    }
                }
            }
            p{
                padding-right: 105px;
            }
            
            h1{
                margin-bottom: 20px;

            }
            h2{
                margin-bottom: 20px;
                font-weight:500;
                font-size: rem-calc(18);
            }
            a:link, a:visted{
                color: white;
                margin-bottom: 12px;
            }
            a:hover,a:active{
                color: var(--blue);
            }
        }
    }
  }
}

   
#footer-bottom{
    background-color: var(--black);
    padding: 27px 0;
    display: grid;
    grid-template-columns: auto 1140px auto;
    grid-template-areas: ". fbgi .";



    #footer-bottom-grid-item{
        grid-area: fbgi;
        display: flex;
        justify-content: center;
        align-items: center;
     p{
        color: grey;
        text-align: center; 
    }
}
    
}