/* =============
    Header
============= */
header{
    nav{
        ul{
            li{
              a{
               
              }  
            }
            #trial{
                a{
                    background-color: var(--blue);
                    color: var(--white);
                    padding: 15px 30px;
                    border-radius: 5px;
                  }  
            }
        }
    }
}