/* =============
    Navigation
============= */
a{
    text-decoration: none;
    display: inline-block;
}

nav{ 
    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li{
    
            list-style: none;
            margin-left: 60px;
            justify-content: center;
            a:link,a:visited{
                color: var(--white);
                font-size: rem-calc(14);
                font-weight: 600;
                transition: 0.25s;
            }
            a:hover,a:active{
                
            }
        
        }
        #trial{
            margin-left: auto;
            padding: 1px 2px;
        }

        a:hover,a:active{
            color: var(--lightblue);
            background-color: var(--lightblue);
        }

        #selected{
            color: var(--lightblue);
        }

      } 
    } 