/* =============
    Base
============= */


.show-signUp-container{
    display: flex !important;
}

.hide-burger-x{
    display: none;
}

.hide-burger-bars{
    display: none;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

#validation-btn {
    margin-top: 50px;
    text-align: center; 
}

