/* =============
    Base
============= */

#validation-logo{
    margin-top: 80px;
    text-align: center;
  
}

#plans-header{
   
    background-color: white;
    h1{
        text-align: center;
        margin-top: 100px;
    }
    p{
        text-align: center;
    }

}

#plan-cards{
    img{
        border: none;
        background-color: white;
    }
    text-align: center;
    background-color: white;
}


ul{
    margin:0;
    padding: 0;
    li{
        list-style: none;
    }
}